#Importing libraries and Mounting Drive

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

#Reading the csv fie

In [3]:
train_df = pd.read_csv( '/content/drive/My Drive/coupons_ner.csv',delimiter=',')

In [4]:
train_df.shape

(885, 1)

In [5]:

train_df.columns=['text'] 
train_df.head()

                                                text
0  Save $2.00 ONE Tide PODS OR Tide Power PODS (e...
1  Save $2.00 ONE Tide Laundry Detergent (exclude...
2  SAVE $1.00 ON TWO when you buy TWO BOXES (8.9 ...
3  $3.00 OFF when you purchase any THREE (3) Pepp...
4  SAVE $1.11 when you buy any ONE (1) Familly Si...

#Writing function for Exercise 1:
Write a function that takes OfferDetails as input, and returns FaceValue as output

In [6]:
import re

In [21]:
def faceval():
  l=[]
  for  i in range(train_df.shape[0]):
    txt=train_df['text'][i]

    x = re.findall('\$\d.?\d?\d?', txt)
    if(x==[]):
      y=re.findall('\d\dÂ¢', txt)
      if(y!=[]):
        l.append(["$"+str(int(y[0][0:2])/100)])
        continue
    l.append(x)
  return l

#This is the Accuracy estimatrion where empty list is considered as no output

In [11]:

c=0
for i in l:
  if(i==[]):
    c=c+1
print(c)
print((len(l)-c)/len(l)*100)

281
68.24858757062147

#Writing the fucntion for excercise 2:Write a function that takes OfferDetails as input, and returns Product as output (Product can be single or array)

In [12]:

import spacy 
 #spacy loading 
nlp = spacy.load('en_core_web_sm')

In [25]:
def prod():
  prod=[]
  for  i in range(train_df.shape[0]):
    #gettingo our sentence
    sentence = train_df['text'][i]
      #converting to document
    doc = nlp(sentence) 
    pr=[]
    for ent in doc.ents: 
        if(ent.label_=='PRODUCT' or ent.label_=='ORG'):
          pr.append(ent.text)
    prod.append(pr)
  return prod

In [27]:
k=prod()

#This is the Accuracy estimatrion where empty list is considered as no output

In [15]:
c=0
for i in prod:
  if(i==[]):
    c=c+1
print(c)
print((len(prod)-c)/len(prod)*100)

412
53.44632768361583